.banner {
  height: 56vh;
  background-position: center;
  background-size: cover; /* 이미지를 배너 크기에 맞게 */
  background-repeat: no-repeat; /* 반복 방지 */
  background-position: left; /* 가운데 정렬 */
}

.banner::before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 56vh;
  width: 100%;
}

.banner-text-area {
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로센터 -> 잊어버리지 말자 */
  height: 100%;
  padding: 2rem;
}

.banner-text-area > * {
  z-index: 2;
}

.banner-text-area p {
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
